#container{
    width:100%;
    height:100%;
    max-height:1080px;
    min-height:600px;
    min-width:320px;
    background-image:url("../img/background.png");
    background-repeat:no-repeat;
    background-position:right bottom;
    display:flex;
    flex-direction:column;
}
#content{
    flex-grow:1;
    max-width:1170px;
    width:100%;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
.menuUi{
    width:900px;
    height:400px;
    display:flex;
    box-shadow: 0px 4px 7px -3px rgba(0, 0, 0, 0.88);
}
.leftUi{
    width:50%;
    background: linear-gradient(to right, #4403ff 0%, #034eff 100%);
    display:flex;
    justify-content:center;
    align-items:center;
    /* border-radius: 6px 0px 0px 6px; */
}
.rightUi{
    flex-grow:1;
    border: 4px solid #034eff;
    /* border-radius: 0px 6px 6px 0px; */
}
.hInfo{
    color:white;
}
.directionIcon{
    width:40px;
    padding-left:10px;;
}

.btn{
    width:150px;
    height:40px;
    border:2px solid white;
    font-size:20px;
    background-color:transparent;
    color:white;
    border-radius:10px;
    margin:auto;
}
.li1{
    padding:10px 0;
    text-align:center;
    margin-top:10px;
}
.li1:first-child{
    display:flex;
    align-items:center;
    border-bottom:1px solid white;
}
.icon{
    width:40px;
    height:36px;
    object-fit: contain;
    /*background-color:#169BD5;*/
    border-radius:5px 0 0 5px;
    padding:2px 15px 0 0;
}
form{
    margin:15px auto;
    width:70%;
}
.hInfo2{
    color: #034eff;
    text-align:center;
    font-weight: 600;
}
.rightUi li{
    border:1px solid black;
    text-align:center;
}
.input{
    height:40px;
    width:180px;
    border: 3px solid #1040ff;
}
table{
    margin:20px auto;
}
#submit{
    width:100%;
    background: linear-gradient(to right, #4403ff 0%, #034eff 100%);
    color:white;
    font-size:20px;
    border:none;
    border-radius:5px;
    height:34px;
}
.row{
    padding:20px 0;
}
.lastTd{
    display:flex;
    justify-content:space-between;
    padding:5px 0;
}
/*响应式制作*/
/*768以下时*/
@media screen and (max-width:767px){
    .rightUi{
        border:none;
    }
   .menuUi{
       display:block;
   }
   .leftUi{
       display:none;
   }
   #container{
       max-height:768px;
   }
}
@media screen and (max-width:420px){
    form{
        width:100%;
    }
}
@media screen and (min-width:1170px){
    html,body{
        width:100%;
    }
}